/* library html starts from here */

body{

    background-color: #05386B;
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr
;
    
}



.main-box1{
    width: 370px;
    height: 500px;
    border: 1px rgb(52, 52, 45) solid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
    position: absolute;
    top: 20px;
    left: 10px;
    margin-left: 20px;
    border-radius: 4px;
    padding: 5px;
    background-color: #c15a28;

   
}
.main-box2{
    width: 370px;
    height: 500px;
    border: 1px rgb(52, 52, 45) solid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
    position: absolute;
    top: 20px;
    right: 10px;
    margin-right: 20px;
    border-radius: 4px;
    padding: 5px;
    background-color: #c15a28;

   
}


.rakk{

    border: 1px rgb(24, 24, 12) solid;
    background-color: #683116;
    height: auto;
    margin: 5px 15px;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 1fr;
    
}


.info{

   
    width: 500px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #05386B;
    grid-column: 2 /3;
    
    
    
}

.info .subtitle{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    color:#b6bcc4;
}

.info .book-info{
    width: 400px;
    height: 250px;
    border-radius: 5px;
    margin-top: 20px;
}

.info #add {
    padding: 12px 20px;
    background-color: #34a366;
    color: #05386B;
    border: none;
    border-radius: 5px;
}

#remove{
    padding: 12px 10px;
    border: none;
    background-color: #34a366;
    color: #05386B;
    border-radius: 5px;
}
.btns{
    display: flex;
    gap: 100px; 
    margin-top: 20px; 
}


.book-info{
  
   text-align: left;
   font-size: 20px;
   font-family: 'Roboto', sans-serif;;
   box-shadow: 5px 5px 5px 5px #042b52;
}

.book-info p{
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
    color:#EDF5E1;
    
    
}

.book{
    background-color: #34a366;
    border: 1px solid black;
}




form{
    width: 500px;
    height: 500px;
    background-color:#34a366 ;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color:  #042b52;;
   z-index: 2;
   position: absolute;
   top: 600px;
   transition: 1s;
   grid-column: 2 /3;
   
}

.row{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label{
    width: 120px;
    margin-bottom: 4px;
    font-size: 15px;
}

input[type="text"],input[type="tel"]{

    height: 20px;
    width: 400px;
    border-radius: 5px;
    outline: none;
}


.form-add{
    padding: 10px 20px;
    background-color: #042b52;
    margin-top: 30px;
    border-radius: 10px;
    outline: none;
    color: #34a366;

}

.switch input {
    position: absolute;
    opacity: 0;
  }
  
  
   /* toggle switch section */
  
  .switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    height: 1em;
    width: 2em;
    background: #BDB9A6;
    border-radius: 1em;
  }
  
  .switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
            transition: all 300ms;
  }
  
  .switch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  .preloader{
    background: #b6bcc4 ;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: relative;
   
}

.round{
    
    width: 150px;
    height: 150px;
    background: #34a366 url(images/loader.gif) center center no-repeat;
    background-size: 90%;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 45%;
    

}